@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p><strong>Contact Management System </strong>can be used to <strong>Add , Remove , Update and Delete </strong> the contacts in the list.</p>
<p>These contacts will be saved in to the database system from where using this system you can easily update  your contact information.</p>

